.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .darkColor {
  background-color: rgba(0, 0, 0, 0.327);
} */

#mainBody {
  height: 100vh;
  width: 100vw;
}

.landingHero {
  height: 100vh;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.blur {
  /* filter: blur(8px);
  -webkit-filter: blur(8px) */
  backdrop-filter: blur(10px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; */

}


 /* .bg_image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background: url("../public/Screen\ Shot\ 2022-12-03\ at\ 10.07.43\ PM.png") no-repeat center center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
 } */

.mainBody {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background: url("../public/Screen\ Shot\ 2022-12-03\ at\ 10.07.43\ PM.png") no-repeat center center fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  /* height: 100vh;
  width: 100vw; */
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}